body[dir="rtl"] .vis>h4 {
    text-align: right;
}
body {
    background-attachment: fixed;
    background-color: #d2c09e;
    background-image: url(https://dsde.innogamescdn.com/asset/df3c5b3d/graphic/background/bg-image.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    font-size: 9pt;
    font-family: Verdana, Arial;
    width: 100%;
    margin: 0;
    padding: 0 0 35px;
}

body.steam {
    background-image: url(https://dsde.innogamescdn.com/asset/df3c5b3d/graphic/background/bg-image-steam.jpg);
}

@media only all and (max-width: 1920px) and (max-height: 1283px) {
    body {
        background-size: 1920px 1283px;
        -moz-background-size: 1920px 1283px;
        -webkit-background-size: 1920px 1283px;
    }
}

@media only screen and (orientation: portrait) and (device-width: 320px),
(device-width: 768px) {
    body {
        -webkit-background-size: auto 100%;
    }
}

@media only screen and (orientation: landscape) and (device-width: 320px),
(device-width: 768px) {
    body {
        -webkit-background-size: 100% auto;
    }
}

body[dir="rtl"] .thread_button span {
    float: right;
    padding-left: 5px;
    padding-right: 0;
}

body[dir="rtl"] .thread_button span:last-child {
    margin-left: 5px;
}

body[dir="rtl"] .thread_new_close {
    background: url(https://dsde.innogamescdn.com/asset/df3c5b3d/graphic/forum/button_close-rtl.png) no-repeat 0 0;
}

body[dir="rtl"] .thread_new_open {
    background: url(https://dsde.innogamescdn.com/asset/df3c5b3d/graphic/forum/thread_new_open-rtl.png) no-repeat 0 0;
}

body[dir="rtl"] .thread_poll_close {
    background: url(https://dsde.innogamescdn.com/asset/df3c5b3d/graphic/forum/button_close-rtl.png) no-repeat 0 0;
}

body[dir="rtl"] .thread_poll_open {
    background: url(https://dsde.innogamescdn.com/asset/df3c5b3d/graphic/forum/poll_open-rtl.png) no-repeat 0 0;
}

body[dir="rtl"] .thread_answer_open {
    background: url(https://dsde.innogamescdn.com/asset/df3c5b3d/graphic/forum/thread_new_open-rtl.png) no-repeat 0 0;
}

body[dir="rtl"] .thread_answer_close {
    background: url(https://dsde.innogamescdn.com/asset/df3c5b3d/graphic/forum/button_close-rtl.png) no-repeat 0 0;
}

body[dir="rtl"] .thread_edit_open {
    background: url(https://dsde.innogamescdn.com/asset/df3c5b3d/graphic/forum/thread_new_open-rtl.png) no-repeat 0 0;
}

body[dir="rtl"] .thread_edit_close {
    background: url(https://dsde.innogamescdn.com/asset/df3c5b3d/graphic/forum/button_close-rtl.png) no-repeat 0 0;
}

body[dir="rtl"] #invite_rewards {
    float: left;
    margin: 0 20px 0 0;
}

body[dir="rtl"] #invite_col1 {
    float: right;
    margin-right: 0;
    margin-left: 5%;
}

body[dir="rtl"] #invite_col2 {
    float: right;
}

body[dir="rtl"] #side-notification-container {
    left: 0;
    right: auto;
}

body[dir="rtl"] .side-notification {
    left: 0;
    right: auto;
}

body[dir="rtl"] .side-notification .img-container {
    left: 0;
}

body[dir="rtl"] #flags_current {
    float: right;
    margin-left: 5px;
    margin-right: 0;
}

body[dir="rtl"] #flags_current {
    float: right;
}

body[dir="rtl"] .flag_box {
    float: right;
}

body[dir="rtl"] .inventory_items {
    float: right;
}

body[dir="rtl"] .item_container {
    float: right;
}

body[dir="rtl"] .inventory_detail {
    float: left;
}

body[dir="rtl"] .detail_head img {
    float: left;
    margin-right: 5px;
    margin-left: 0;
}